{%extends 'paginas/modelo.html' %}

{% load static %}


{% block titulo %}
<title>Ajuda</title>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h3>Ajuda</h3>
    <p align="justify">
        O Laboratório de Inovação Tecnológica em Saúde (LAIS) da Universidade Federal do Rio Grande do Norte (UFRN),
        no uso de suas atribuições legais, torna pública a abertura de inscrições para a seleção de pesquisador para
        o Projeto “PESQUISA APLICADA A IMPLEMENTAÇÃO DE PROCESSOS EDUCACIONAIS EM SISTEMAS INTEGRADOS DE INFORMAÇÃO E
        COMUNICAÇÃO EM SAÚDE”.
    </p>
</div>
{% endblock %}

