{%extends 'paginas/modelo.html' %}

{% load static %}


{% block titulo %}
<title>Dashboard</title>
{% endblock %}

{% block conteudo %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h5>Seja bem-vindo<br></h5>
      {% if user.perfil.nome_completo %}
      <p class="lead">
        Nome Completo: {{ user.perfil.nome_completo }}.<br>
        Data de Nascimento: {{ user.perfil.data_nascimento }}.<br>
        Idade: {{ datetime.today }}.<br>
        Cursos matriculados:
      </p>
      {% else %}
      Você precisa completar o seu cadastro. Por favor, acesse o menu <a href="{%url 'atualizar-dados' %}">meus
        dados</a> para efetuar a operação.
      {% endif %}
    </div>
  </div>
  <h5>Cursos Disponíveis<br></h5>
  {% if user.perfil.nome_completo %}
  <hr>
  <div class="table-responsive">
      <table class="table table-striped" id="tabela-listar">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Carga Horária</th>
                  <th>Opções</th>
              </tr>
          </thead>

          <tbody>
              {% for curso in object_list %}
              <tr>
                  <td>{{ curso.nome }}</td>
                  <td>{{ curso.carga_horaria }}</td>
                  <td>
                      <a href="#">Matricular-se</a>
                  </td> 
              </tr>
              {% empty %}
              <tr>
                  <td colspan="4">Nenhum curso registrado</td>
              </tr>
              {% endfor %}
          </tbody>

      </table>
  
  </div>

  {% else %}
  Ainda não temos cursos disponíveis para a sua faixa etária.
  {% endif %}

</div>
{% endblock %}