{%extends 'paginas/modelo.html' %}

{% load static %}


{% block titulo %}
<title>Sobre o Projeto</title>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h3>Sobre o Projeto</h3>
    <p align="justify">
        O Ambiente Virtual de Aprendizagem do SUS, AVASUS, é uma plataforma que vem
        auxiliando na transformação do cotidiano da saúde pública brasileira por meio da
        formação continuada em trabalho. Acesse aqui <a href="https://avasus.ufrn.br/" target="_blank">https://avasus.ufrn.br/.</a> <br> <br>

        No AVASUS há uma Comunidade de Práticas que permite a troca de experiências e
        interação entre alunos de cursos à distância para otimizar o seu aprendizado. Ela designa
        um grupo de pessoas que se unem em torno de um mesmo tópico ou interesse. Essas
        pessoas trabalham juntas para achar meios de melhorar o que fazem, ou seja, na
        resolução de um problema na comunidade ou no aprendizado diário, através da interação
        regular. <br> <br>

        Na perspectiva do aluno, a comunidade de práticas propicia ampliar a perspectiva sobre
        um determinado tema. É esperado que ele possa interagir da seguinte forma:
        <ul>
            <li>Comentar as postagens dos outros integrantes da comunidade;</li>
            <li>Compartilhar para fora da comunidade (e-mail, whatsapp, instagram, etc);</li>
            <li>Ranquear e avaliar a postagem;</li>
            <li>Salvar em PDF.</li>
        </ul>
        Apesar dos alunos poderem compartilhar, a Comunidade de Práticas é fechada para
        alunos/participantes.
    </p>
</div>
{% endblock %}

